accelerate==0.25.0
deepspeed==0.15.1
imageio==2.19.3
imageio-ffmpeg==0.4.7
numpy==1.23.5
pytorch-extension==0.2
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git@6fdee8f2727f4506cfbbe553e23b895e27956588
tb-nightly==2.14.0a20230808
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tiktoken==0.7.0
tokenizers==0.15.0
torch==2.7.0
torchaudio==2.7.0
torchvision==0.20.0
transformers==4.50.0
transformers-stream-generator==0.0.5
triton==3.2.0
wandb==0.17.7
xformers==0.0.27.post2
